@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Open+Sans");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
/* line 13, ../compass/sass/styles.scss */
body {
  color: #2E2F3A;
  background-color: #ECECED;
  font-family: "Open Sans", sans-serif;
}

/* line 20, ../compass/sass/styles.scss */
.tagline-wrapper h5 {
  font-style: italic;
}

/* line 25, ../compass/sass/styles.scss */
.orange {
  color: #EA4A27;
}

/* line 28, ../compass/sass/styles.scss */
.search-bar {
  background-color: white;
}

/* line 32, ../compass/sass/styles.scss */
.nav-wrapper {
  margin: 10px 0;
  color: #ECECED;
  line-height: 30px;
}
/* line 36, ../compass/sass/styles.scss */
.nav-wrapper div {
  background-color: #2E2F3A;
}
/* line 38, ../compass/sass/styles.scss */
.nav-wrapper div a, .nav-wrapper div a:active, .nav-wrapper div a:hover, .nav-wrapper div a:visited {
  color: #ECECED;
}
/* line 42, ../compass/sass/styles.scss */
.nav-wrapper .account-links {
  text-decoration: underline;
}

/* line 48, ../compass/sass/styles.scss */
.logo-wrapper img {
  width: 100%;
}

/* line 54, ../compass/sass/styles.scss */
.search-button {
  background-color: #1B998B;
  color: white;
  margin-top: 1px;
}

/* line 59, ../compass/sass/styles.scss */
.search-button, .search-bar {
  border: none;
  border-bottom: 1px solid #1B998B;
  border-radius: 0px;
}

/* line 65, ../compass/sass/styles.scss */
.input-wrapper {
  margin-top: 3%;
  width: 100%;
}

/* line 70, ../compass/sass/styles.scss */
.product-wrapper {
  background-color: white;
  border: solid 3px #ECECED;
}
/* line 73, ../compass/sass/styles.scss */
.product-wrapper img {
  width: 100%;
  margin-top: 5px;
}

/* line 81, ../compass/sass/styles.scss */
#register-form .form-group input {
  background-color: white;
  border: none;
  border-bottom: 1px solid #1B998B;
  border-radius: 0px;
  margin-bottom: 25px;
}
/* line 88, ../compass/sass/styles.scss */
#register-form .form-group input:focus {
  outline: #1B998B;
  border: 1px solid #1B998B;
}
